*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.chatbox-support{
    background: white;
    height: 550px;
    width: 416px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    
}


/* upper half */
 .upper-half{
    background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
    position: relative;
    height: 50%;
    border-top-left-radius:5%;
    border-top-right-radius:5%;
    opacity: 0;
    transition: opacity 1s;
    
}

.heading{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    height: 39px;
    width: 53px;
    left: 56px;
    top: 19px;
}
.heading span{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    color: white;
}

.greeting{
    opacity: 0;
    position: absolute;
    height: 29px;
    width: 54px;
    left: 56px;
    top: 65px;
    transition: opacity 1s;
}

.greeting span{
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
}
.greeting img{
    position: absolute;
    padding-left: 30%;
    width: 45px;
}
.desc{
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 228px;
    height: 46px;
    left: 56px;
    top: 104px;
}
.desc{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

 .floating-above{
    opacity: 0;
    transition: opacity 1s;

    background-color: white;
    position: absolute;
    width: 390px;
    height: 329px;
    top: 195px;
    left: 13px;
    border: 1px solid #E4E4E4;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 0px #0000000D;
    /* z-index: 10; */

}

.content{
    padding: 50px 25px 21px 26px ;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */

}

.content p{
    opacity: 0;
    transition: opacity 1s;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.content p span{
    font-size: 14px;
    font-weight: 800;
    line-height: 18px;
    text-align: left;
    color: #2D2D2D;
    padding-right: 10px;
}

.content p img{
    height: 21px;
    width: 21px;
}
.content .question{
    opacity: 0;
    transition: opacity 1s;

    background: #FFFFFF;
    width: 340px;
    height: 38px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.question span{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding-left: 5px;
    color: #2D2D2D;
}
.question img{
    padding-left: 5px;
}

.content button{
    opacity: 0;
    transition: opacity 1s;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    background: #fff;
    margin-top: 2px;
    height: 44px;
    width: 268px;
    margin-left: 36px;
}

.content button span{
    font-weight: 600;
    font-size: 14px;
    color: #2D2D2D;
}

.indicator{
    opacity: 0;
    transition: opacity 1s;
    background: linear-gradient(180deg, #FF7600 0%, #FF5C00 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    top: 165px;
    left: 38px;
    width: 67px;
    height: 67px;
    position: absolute;
    border-radius: 50%;
}

@keyframes changeScale {
    0%{
        transform:scale3d(0,0);
    }
    50%{
        transform:scale3d(0,0,-6);
    }
    100%{
        transform:scale3d(0,0,-2);
    }
}


.indicator img{
    height: 40px;
    width: 48px;
    font-size: 2rem;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}



@media (max-width:320px){

    .indicator img{
        margin-left: 8px;
        margin-top: 8px;
        width: 34px;
        height: 30px;
    }
    .heading, .greeting, .desc{
        left: 40px;
    }
    .chatbox-support{
        height: 480px;
        width: 291px;
    }
    .content{
        padding: 30px 25px 21px 22px ;
    }

    .content p img{
        position: absolute;
        right: 10px;

    }
    .content .question{
        width: 240px;
        height: 31px;

    }
    .floating-above{
        width: 275px;
        height: 270px;
        left: 8px;
    }

    .content button{
        margin-top: 0;
        height: 35px;
        width: 210px;
        margin-left: 12px;
    }

    .indicator{
        width: 50px;
        height: 50px;
        left: 30px;
        top:36%;
    }

    .indicator i{
        font-size: 1.5rem;
        margin-top: 12px;
        margin-left: 10px;
    }
} 
@media (min-width:350px) and (max-width: 400px){

    .chatbox-support{
        height: 598px;
        width: 348px;
    }

    .content .question{
        width: 270px;
        height: 50px;
    }
    .floating-above{
        width: 319px;
        height: 375px;
    }

    .content button{
        margin-top: 5px;
        height: 34px;
        width: 200px;
        margin-left: 36px;
    }
} 

